RewriteEngine on
RewriteBase /

#RewriteCond $1 !^(index\.php|images|robots\.txt|assets|assets/css)
#RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
