/* Style icon over here */

li.left { 
   float: left; 
}
li.right { 
   float: right; 
}
.small_photo { 
    border: 1px solid white;
    -webkit-border-radius: 0;
    height: 19px;
    width: 19px;
}
.full {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.hidden { 
    display:none; 
}

.modal-noscrollbar { 
    max-height:650px; 
}

.header_name { 
    margin-left: 5px; 
}

.login-unit { 
    padding-top: 60px; 
}
.own-login { 
    color: #888;
    margin-top: 5px;
    padding: 7px;  
}
.own-login-header {
    width: 300px; 
    height: 46px; 
    border: 1px solid #d4d4d4;
    color: white;
    margin-top: 15px;
    background-color: green;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.own-login-header p {
    padding-top: 12px;
    cursor: pointer;
}
.login-control-group { 
    display:inline; 
}
.image-vertical-group ul { 
    list-style-type: none;
    margin: 0 0 10px 5px;
}
.image-vertical-group li { 
   margin: 0 0 5px 0;
}
.valid { 
    border: 1px solid  rgba(10, 116, 10, 0.6) !important;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(10, 116, 10, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px  rgba(10, 116, 10, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px  rgba(10, 116, 10, 0.6) !important; 
}
.invalid { 
    border: 1px solid rgba(236, 82, 94, 0.6) !important;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236, 82, 94, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236, 82, 94, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236, 82, 94, 0.6) !important; 
}
#dropdownMenu1 .caret { 
    border-top-color: #838586; 
    border-bottom-color: #838586; 
    margin-left: 5px; 
}
.header-tab-left { 
    margin: -8px 0px 0px 15px; 
}
.thumbnails .caption { 
    margin: -10px 0px 0px 10px;
}
.add-padding-top { 
    padding-top: 20px; 
}
.modal { 
    display: none; 
}
.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th {
background-color: #f2dede; }
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.entry:not(:first-of-type)
{
    margin-top: 10px;
}
.glyphicon
{
    font-size: 12px;
}
.controls 
{ 
    padding-left: 17px; 
} 
