html, body, .container, .container-table {
    height: 100%;
}
.home {
    background: url('../img/bg_image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.container-table { 
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.container { 
    height: 100%; 
}
